.vscode
venv/
conf/.env
conf/db.sqlite3
conf/media/
conf/conf/__pycache__/
conf/capsulator/__pycache__/
conf/capsulator/api/__pycache__/
conf/capsulator/migrations/

*.rdb

node_modules
.pnp
.pnp.js
coverage
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

*.secret.json