.vscode
backend/venv/
backend/conf/.env
backend/conf/db.sqlite3
backend/conf/media/
backend/conf/conf/__pycache__/
backend/conf/capsulator/__pycache__/
backend/conf/capsulator/api/__pycache__/
backend/conf/capsulator/migrations/

*.rdb

frontend/capsulator/node_modules
frontend/capsulator/.pnp
frontend/capsulator/.pnp.js
frontend/capsulator/coverage
frontend/capsulator/build
frontend/capsulator/.DS_Store
frontend/capsulator/.env.local
frontend/capsulator/.env.development.local
frontend/capsulator/.env.test.local
frontend/capsulator/.env.production.local
frontend/capsulator/npm-debug.log*
frontend/capsulator/yarn-debug.log*
frontend/capsulator/yarn-error.log*
frontend/capsulator/.env

*.secret.json